// ! STRUCTURE VARIABLES ! //
$bodyBG: white;
$bodyFG: black;

$navBG: teal;
$navFG: white;

$headerBG: turquoise;
$headerFG: black;

$footerBG: $headerBG;
$footerFG: $headerFG;


// ! NOTIFICATION VARIABLES ! //
$alert: crimson;
$warning: goldenrod;
$clear: forestgreen;
